body {
  margin: 0 auto; /* Center the body horizontally */
  font-family: Arial, sans-serif;
  padding: 28px;
    text-align: center
}

header {
  background-color: #770d0d; /* Lighter background for all three */
  padding: 7px;
  text-align: center; /* Center text for all three */
}

nav {
  background-color: rgb(255, 255, 255); /* Lighter background for all three */
  padding: 15px;
  text-align: left; /* Center text for all three */
}



h1 {
  font-size: 2.8em; /* Smaller heading size */
color: rgba(61, 190, 152, 0.64);
}

h2 {
  color: rgba(174, 96, 217, 0.61);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
    text-align-last: center;
    
    
}

nav ul li {
  display: inline-block;
  margin-right: 37px; /* Less space between links */
  text-align: center;
}

section {
  padding: 21px;
}

section#leftColumn{
    clear: left;
    float: left;
    width: 38%;
 
}

section#rightColumn{
    float: right;
    width: 50%;
}

    
footer {
  background-color: rgba(255, 255, 255, 0.65); /* Lighter background for all three */
  padding: 22px;
  text-align: center; /* Center text for all three */
}
        
